__pycache__/*
./modules/__pycache__/*
./modules/.ipynb_checkpoints/*
./data/*
./data/parquet/val_values.parquet
./data/parquet/test_values.parquet
./data/parquet/train_values.parquet
cached/*
.DS_Store
.ipynb_checkpoints/*
.replit
poetry.lock
pyproject.toml
replit.nix
venv/*
logs
